@media only screen and (max-width : 992px) {
/*-------all_style--------*/

.wrapper{
   max-width: 792px;
}    
   
/*----------header----------*/

 /*---nav---*/

 nav li{
   padding:30px 0px 30px 0px ;
 }
 
.nav a{
   color: #fff;
   font-size: 15px;
   padding: 10px 10px 10px 10px;
 }

 /*----------banner----------*/

.btt{
   font-size: 70px; 
}
.text__text {
   margin-top: 20px;  
 }

 /*------about-us------*/

 .about__us{
   padding-top: 50px;
   padding-bottom: 90px;
 }

 /*-------special__recipes--------*/
 
.special__block{
   padding-top: 40px;  
}

.special__reciper__text{
   width: 60%;  
   z-index: 2;
}

.sr_title_mr{
   margin: 30px 40px 20px 45px;
}

.special__reciper__img{
   width:400px;
   z-index: 1;
   margin-left: -20px;
   align-self:center;
 }

/*----delicacy----*/

.delicacy__text__block {
   padding: 50px 0px 45px 0px;
 }

.delicacy__img {
   width: 100%; 
}

.delicacy__img img{
   width: 190px;
}

/*-------menu---------*/

.menu__block__text {
   padding: 50px 0px 0px 0px;
}

.menu__img {
   align-self:center;
}

.menu__text {
   background-color:#fff;
   width: 45%;
}

.menu__text {
   width: 50%;
   margin-left: -10px;
}

.m_t_m{
   padding: 10px 0px 15px 15px;
 }

 .menu__list{
   padding: 10px 0px 0px 15px;   
   width: 90%;
 }

/*-------mobile--------*/

.mobile__img {
   width: 180px;
 }

.mobile___app {
   color: #fff;
   align-self: center;
   margin-left:60px;
 }

.m_a_t_s{
   font-size: 55px;
 }

 .m_a_t_t{
   font-size: 20px;   
 }

 .mobile__app__img__block:first-child{
   margin-right: 20px;
   width: 145px;
 }

 .mobile__app__img__block:last-child{
   width: 170px;
 }
}
@media only screen and (max-width : 768px){
   /*-------all_style--------*/

.wrapper{
   max-width: 588px;
}

.monserat__title{
   font-size: 25px;
}
/*----------header----------*/

.info__date {
   display: flex;
   margin-right: 20px;

 }

 /*---nav---*/

.nav a{
   font-size: 12px;
   padding: 10px 10px 10px 10px;
 }

/*----------banner----------*/

.btt{
   font-size: 60px; 
}

.text__text {
   margin-top: 15px;  
   width: 80%;
  color: #fff;
  text-align: center;
 }

 .buton__text{
   padding: 10px 30px;
 }

 /*------about-us------*/

 .about__us{
   padding-top: 50px;
   padding-bottom: 90px;
 }

 .about__us__img {
   width: 50%;
 }

 .about__title__monserat{
   margin-bottom: 20px;
 }

 .about__us___text{
   width: 50%;
   margin-left: 20px; 
 }

 .about__first__text{
   margin-bottom: 15px;
 }

 .button {
   margin-top: 20px;
   width: 120px;
   height: 40px;
}

/*-------special__recipes--------*/
 
.special__block{
   padding-top: 20px;  
}

.special__reciper__text{
   width: 80%;
}

.sr_title_mr{
   margin: 30px 20px 10px 25px;
}

.sr_text_mr{
   margin: 0px 20px 10px 25px;
 }

 .sr_text_mr:last-child{
   padding-bottom: 20px;
 }

.special__reciper__img{
   width:90%;
   margin-left: -80px;
 }

 /*----delicacy----*/

.delicacy__text__block {
   padding: 50px 0px 35px 0px;
 }

.delicacy__img img{
   width: 140px;
}

/*-------menu---------*/

.menu__block__text {
   padding: 50px 0px 0px 0px;
}

.menu__img {
   width: 90%;
   align-self:center;
}

.menu__text {
   width: 70%;
   margin-left: -100px;
}
.order__img1{
   margin-left:0px;
 }

.m_t_m{
   padding: 10px 0px 15px 15px;
 }

 .menu__list{
   padding: 10px 0px 0px 15px;   
   width: 90%;
 }

 /*-------mobile--------*/

.mobile__img {
   width: 160px;
 }

.mobile___app {
   color: #fff;
   align-self: center;
   margin-left:60px;
 }

.m_a_t_s{
   font-size: 45px;
 }

 .m_a_t_t{
   font-size: 15px;   
   padding-bottom: 35px;
 }

 .mobile__app__img__block:first-child{
   margin-right: 20px;
   width: 145px;
 }

 .mobile__app__img__block:last-child{
   width: 160px;
 }
}
@media only screen and (max-width : 576px){
   /*-------all_style--------*/

.monserat__text{
   font-family: 'Times New Roman', sans-serif;
   font-size: 14px;
 }

 .monserat__text__title{
   font-family: 'Times New Roman', sans-serif;
   font-size: 16px;
   font-weight: 600;
 }
 .monserat__title{
   font-family: 'Times New Roman', sans-serif;
   font-size: 18px;
   font-weight: 500;
   text-transform: uppercase;
 }
 
 /*-------header---------*/

 /*---top line---*/

 .date__text{
   font-family: 'Times New Roman', sans-serif;
   font-size: 12px;
 }

 .fone__text{
   font-family: 'Times New Roman', sans-serif;
   font-size: 12px;
 }
 
 .top__header__info {
   margin: 10px 0px 10px 0px;
   display: flex;
   flex-direction: column;  
 }

 .info__date {
   margin-left: 25px;
 }

 .info__fone {
   padding-left:25px;
 }


/*----burger-----*/

 .header__burger{
   margin-top: 10px;
   display: block;
   position: absolute;
   right: 40px;
   top: 55px;
   width:30px;
   height: 20px;
   z-index:5;
 }

 .header__burger span{
   position: absolute;
   background-color: #fff;
   left: 0;
   width: 100%;
   height: 2px;
   top: 9px;
   transition: all 0.3s ease 0s;
 }

 .header__burger:before,
 .header__burger:after { 
   content: '';
   background-color: #fff;
   position: absolute;
   width: 100%;
   height: 2px;
   left: 0;
   transition: all 0.3s ease 0s;
 }

 .header__burger:before{
   top: 0;
 }

 .header__burger:after { 
   bottom: 0;
 }

 .header__burger.active:before{
   transform: rotate(45deg);
   top:9px;
 }

 .header__burger.active:after{
   transform: rotate(-45deg);
   bottom: 9px;
 }

 .header__burger.active span{
   transform: scale(0);
 }
 
 .nav{
   display: flex;
   flex-direction: column;
   padding-top: 50px;
 }
 nav li{
   padding:30px 0px 0px 30px ;
 }
 nav{
   display: block;
   position: absolute;
   top: -100%;
   right: 0;
   width: 100%;
   height: 100%;
   background-color: #000;
   opacity: 0.9;
   padding: 50px 40px 20px 30px;

   transition: all 0.3s ease 0s;
 }
 nav.active{
   top: 0;
 }
/*-------baner------*/
 .btt{
   font-size: 50px; 
}

.text__text {
   margin-top: 15px;  
   width: 80%;
  color: #fff;
  text-align: center;
 }
 .bt{
   line-height: 15px;
 }
 .banner__button{
   margin-top: 35px;
 }
 .buton__text{
   padding: 10px 30px;
 }
/*------about-us------*/
.about__us{
   padding-top: 30px;
   padding-bottom: 100px;/*убрать нижний размер*/
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .about__us-bg-peppers img{
   width: 190px;
   height: 220px;
  
 }
 .about__us__img {
   width: 80%;
 }
 .about__us___text{
   width: 80%;
   margin: 20px 0px  10px 0px;
   text-align: center;
   z-index: 4;
  
 }
 .about__title__monserat{
   margin-bottom: 10px;
 }
 .about__first__text{
   margin-bottom: 10px;
 }
 
 /*-------special__recipes--------*/

 .recipes__bg__img{
   position: absolute;
   left: 0%;
   bottom: -125px;
   width: 115px;
   z-index: 2;
 }

 .special__block{
   padding-top: 50px;
   padding-bottom: 50px;
   justify-content: center;
  }
  
 .special__reciper__text{
   width: 80%;
   height: 100%;  
 }
 .special__reciper__img{
   display: none;
}

/*----delicacy----*/

.delicacy__bg__img{
   right: 0;
   bottom: -110px;
   width: 115px;
 }

/*-------menu---------*/

.menu__block__text {
   padding: 30px 0px 10px 0px;
}
.menu__block__img {
   margin-top: 30px;
}

.menu__img {
   display: none;
}

.menu__text {
   width: 80%;
   margin-left: 0px;
   margin: 0 auto;
}
.order__img1{
   margin: 0 auto;
 }

.m_t_m{
   padding: 10px 0px 15px 15px;
 }

 .menu__list{
   padding: 10px 0px 0px 15px;   
   width: 90%;
 }

 .menu__img__bg {
   width: 190px;
   height: 220px;
 }

 /*-------mobile--------*/

.mobile__img {
   display: none;
 }

.mobile___app {
   color: #fff;
   align-self: center;
   margin-left:20px;
 }
 .m_title_m{
   margin: 25px 0px 15px 0px;
 }

.m_a_t_s{
   font-size: 30px;
 }

 .m_a_t_t{
   font-size: 15px;   
   padding: 15px 0px 25px 15px;
 }

 .mobile__app__img__block:first-child{
   margin-right: 20px;
   width: 125px;
 }

 .mobile__app__img__block:last-child{
   width: 130px;
   margin-right: 0px;
 }
 
}