* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before,*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {outline: none;}

a:focus, a:active {outline: none;}

nav, footer, header, aside {display: block;}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {font-family: inherit;}

input::-ms-clear {display: none;}

button {cursor: pointer;}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {text-decoration: none;}

a:hover {text-decoration: none;}

ul li {list-style: none;}

img {vertical-align: top;}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------all_style--------*/

.pacifico__text{
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}
.monserat__text{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
.monserat__text__title{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.monserat__title{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
}
.wrapper{
  max-width: 1200px;
  margin: 0 auto;
}

/*----------header----------*/

    /*---top line---*/
.top__header{
  display:flex;
  justify-content:flex-end;
  position: relative;
}
.top__header__igm {
  position:absolute;
  top: 0;
  left: 0;
  width: 33%;
  z-index: 3;
}
.top__header__igm img{
  width: 100%;
}
.top__header__info {
  margin: 10px 0px 10px 0px;
  display: flex;
  width: 50%;
}
.info__date {
  display: flex;
  margin-right: 40px;
}
.date__img {
  padding-right:10px;
}
.info__fone {
  display: flex;
}
.fone__img {
  padding-right:10px;
}
.top__header__soc {
  margin: 10px 0px 10px 0px;
}
.top__header__soc img{
  padding-right: 10px;
}
    /*---nav---*/
.nav__fone {
  background-color: black;
  opacity: 0.8;
  z-index:2;
  position: absolute;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

nav li{
  padding:40px 0px 40px 0px ;
}

.nav a{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
}
.nav a:hover{
  color: #E7A331;
  border: 1px  solid #E7A331;
  border-radius: 10px;
}

/*----------banner----------*/
.banner-bg{
  background-image: url(../img/foodLove.png);
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  width: 100%; 
}

.wb{
  height: 100vh; 
}

.banner__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%; 
}

.btt{
  font-size: 90px;
  color: #fff;
  text-shadow: 7px 7px 8px black;
 
}
.text__text {
  margin-top: 40px;
  width: 60%;
  color: #fff;
  text-align: center;
}
.bt{
  font-size: 18px;
  line-height: 25px;
}
.banner__button{
  margin-top: 40px;
}
.buton__text{
  color: #fff;
  padding: 14px 40px;
  border: 2px solid #fff;
  border-radius: 10px;
}
.buton__text:hover{
  color: #E7A331;
  opacity: 0.7;
  border: 2px solid #E7A331;
  border-radius: 10px;
}
/*------about-us------*/
.about__us-bg{
  background-image: url(../img/bg_about_us.png);
  background-repeat: repeat;
  background-size: 100% auto;
  position: relative;
}
.about__us-bg-peppers{
  position: absolute;
  padding: 0;
  margin-right: -5px;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.about__us-bg-peppers img{
  width: 284px;
  height: 310px;
 
}
.about__us{
  padding-top: 110px;
  padding-bottom: 130px;
  display: flex;
  justify-content: center;
}

.about__us__img {
  width: 425px;

}
.about__us__img img{
  width: 100%;
}

.about__us___text{
  width: 55%;
  margin-left: 80px;
  z-index: 2;
 
}
.about__title {
  margin-bottom: 10px;
}
.about__title__monserat{
  margin-bottom: 30px;
}

.about__first__text{
  margin-bottom: 25px;
}
.button {
  margin-top: 40px;
  width: 150px;
  height: 50px;
  background-color: #E7A331;
  color: #fff;
  border-radius: 5px;

}
/*-------special__recipes--------*/
.special__recipes__bg{
  background-image: url(../img/background_teste.png);
  background-color: black;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100%;
  position: relative;
  
}
.recipes__bg__img{
  position: absolute;
  left: 0%;
  bottom: -150px;
  width: 165px;
}
.recipes__bg__img img{
  width: 100%;
}
.special__block{
 padding-top: 100px;
 padding-bottom: 50px;
 display: flex;
  
}
.special__reciper__text{
  width: 44%;
  height: 100%;
  background-image: url(../img/bg_about_us.png);
  display: flex;
  flex-direction: column;
  align-self:center;
  z-index: 2;
  
  
}
.sr_title_mr{
  margin: 70px 40px 30px 45px;
  
}

.sr_text_mr{
  margin: 0px 40px 30px 45px;
}
.sr_text_mr:last-child{
  padding-bottom: 60px;
}
.special__reciper__img{
  width:670px;
  z-index: 1;
  margin-left: -20px;

}
.special__reciper__img  img{
  width:100%;
  
}


/*----delicacy----*/
.delicacy__bg{
  background-image: url(../img/bg_about_us.png);
  background-repeat: repeat;
  background-size: 100% auto;
  position: relative;
  z-index:-1;
}
.delicacy__bg__img{
  position: absolute;
  right: 0;
  bottom: -160px;
  width: 165px;
  z-index:1;
}
.delicacy__bg__img img{ 
  width: 100%;
}
.delicacy__text__block {
  padding: 90px 0px 65px 0px;
  text-align: center;
}
.pacifico__text {
  margin-bottom: 10px;
}

.delicacy__img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}
.delicacy__img {
width: 100%; 
}
.block__one:last-child{
  padding-bottom: 100px;
  z-index:2;
}